* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
  }
  body {
    background: #003366;
    color: #fff;
  }
  h1 {
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;
  }
  #form {
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #0d2853;
    border-radius: 10px;
  }

  #inp {
    flex: 1;
    height: 100%;
    color: #ffffff;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 30px;
    padding: 20px;
  }
  #btn {
    height: 80px;
    width: 100px;
    background-color: orangered;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
  }
  #imgCont {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
  }
   img {
    height: 230px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  } 

  #showMoreBtn {
    text-align: center;
    display: none;
    background-color: orangered;
    margin: 10px auto 100px;
    color: white;
    height: 40px;
    width: 100px;
    text-align: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 10px;
  }