*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}
body {
  background-color: rgb(78, 76, 76);
  margin: 0;
  color: rgb(255, 255, 255);
}
.card {
  padding: 40px 35px;
  border-radius: 30px;
  background-color: rgba(194, 145, 241, 0.578);
  width: 90%;
  max-width: 470px;
  margin: 100px auto 0;
  text-align: center;
  
}
#search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.inp {
    color: #555;
  border: 0;
  outline: 0;
  border-radius: 50px;
  height: 60px;
  flex: 1;
  padding: 10px 25px;
  margin-right: 15px;
  font-size: 20px;
}
#btn {
  border: 0;
  outline: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

#btn img{
  width:  16px;
  align-items: center;
}

.weather-icon{
width: 170px;
margin-top: 30px;
}

.weather h1{
  font-size: 80px;
  font-weight: 500;
}
.weather h2{
  font-size: 45px;
  font-weight: 500;
}

.weather h2{
  font-size: 45px;
  font-weight:  400;
  margin-top: -10px;
}

.details{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  margin-top: 50px;
}

.col{
  display: flex;
  align-items: center;
  text-align: left;
}

.col img{
  width: 40px;
  margin-right: 10px;
}
.humitdity, .wind{
  font-size: 28px;
}
